.answers {
  display: grid;
  grid-template-columns: 50% 50%;
}
.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(25% 30%, 75% 30%, 100% 50%, 75% 70%, 25% 70%, 0% 50%);
  background-color: blueviolet;
  height: 150px;
  cursor: pointer;
  transition: 1s;
  font-size: 18px;
  
}

.answer:hover {
  background-color: cyan;
}
