.questions {
  display: flex;
  justify-content: center;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  background-color: #328cd1;
  height: 200px;
  margin: 20px;
}
